@media screen and (max-width:1200px){
    
    .slick-list.draggable {margin: 0 20px;}
    
    button.slick-prev.slick-arrow { left: 15px;}
    button.slick-next.slick-arrow {right: 15px;}
}


@media screen and (max-width:992px){
    
    h1 { font-size: 60px;}
    
    .box-div p { font-size: 18px;}
    p { font-size: 18px;}
    .banner-content {
        left: 13%;
        top: 23%;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
    a.get_touch_div, .btn {
        padding: 6px 13px;
        border-radius: 3px;
        font-size: 14px;
    }
    .title_box h3 small { font-size: 13px;}
    .box-div {min-height: calc(100% - 30px);margin-bottom: 30px;}
    .box-div img {width: 100%;display: block;}
    .box-div p { font-size: 30px; line-height: 1.5; }
    
    .section.service_div:after { display: none;}
    
    .destinations_img {margin: 15px 0;}    
    
    .section.out-partners_div { padding: 100px 0;}
    
    .footer_menu {padding-left: 30px;}
    
    
    /*hamburger - css */
        header .hamburger, .hamburger::before, .hamburger::after {content: '';display: block;background: #fff;height: 3px;width: 30px;border-radius: 3px;transition: all ease-in-out 500ms;}

        header .menu-toggle {padding: 0 0;cursor: pointer;background: none;border-radius: 0;top: 50%;transform: translateY(-50%); right:-40px; margin-left: 30px; z-index: 8;}

        header .open .hamburger { transform: rotate(45deg); }
        header .open .hamburger::before { opacity: 0; }
        header .open .hamburger::after { transform: translateY(-3px) rotate(-90deg); }

        header .hamburger::before { transform: translateY(-6px); }
        header .hamburger::after { transform: translateY(3px); }    
    
     /*hamburger - css */
    
    .menu { display: none;}
    .open .menu { display: flex;} 
    .menu {position: fixed;left: 0;top: 0;bottom: 0;right: 0;background: #000;align-items: center;justify-content: center;}
    .open  .menu ul {display: block;align-items: center;margin: 0;text-align: center;}
    .menu ul li a {display: block;padding: 0 15px;font-size: 30px;font-weight: 500;letter-spacing: 1px;line-height: 2.3;color: #fff;}
    header.header { z-index: 2;}
     header .logo {width: 110px;margin-left: 0;}
    .left-head {display: flex;justify-content: space-between;align-items: center;}
    header.header {position: sticky;width: 100%;display: block;padding: 15px 0;background: rgba(26, 26, 30, 1);top: 0;box-shadow: 0 1px 13px rgba(0, 0, 0, 1);}


    .images-div{
        margin-top:-32%;
    }
    .slick-arrow {
        box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
        cursor: pointer;
    }
    .img-box .box-div {
        height: 214px;
        text-align: center;
    }
    .img-box .box-div p{
        font-size: 24px;
    }
}




@media screen and (max-width:767px){
    
    .img-box .box-div {
        height: 234px;
        text-align: center;
    }
    

    .section       {margin: 0;padding: 60px 0;}
 
    .about_img    { margin-bottom: 30px;}
    div#contact {
        padding-top: 60px;
    }
    h1 {font-size: 50px;}
    h3 { font-size: 30px;}
    .box-div p {font-size: 20px;line-height: 1.3; text-align: center;padding: 50px 30px;}
    .section.service_div{
        padding: 80px 10px;
    }
    .list ul li { flex-basis: 100%; font-size: 18px; }
    .title { padding-bottom: 20px;}
    
    

    .section.out-partners_div { margin-top: 0;}
    
    .section.out-partners_div {padding: 60px 0;}
    
    .box-div {max-width: 300px;margin: 0 auto 30px;}
    
    .service_info { padding: 0 40px;}
    
    .form_div { flex-basis: 100%; box-shadow: none;}
    .input_div { border-radius: 0;margin: 0;padding: 40px;}
    .footer { text-align: center;}
    .footer_menu {
        padding: 0px 0 30px 0;
    }
    .footer_logo{
        margin: 0 auto 30px;
    }
    .footer_menu li a{
        text-align: center;
    }
    ul.contact_icon {
        max-width: 240px;
        margin: 0 auto;
    }
   
   
    .contact_div { display: block; max-width: 100%;}
    .mape_div {margin-top: 30px;border-radius: 0;} 
    .mape_div img { width: 100%}
    
    .destinations_img {max-width: 370px;margin: 0 auto 30px;}    
    .input_div{
        width: 100%;
        padding-top: 10px;
    }
    .form_div {
        text-align: center;
        background-image:none; 
        background: rgba(44, 45, 48, 0.92);
        box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.35);
    }
    
    .partners_list.about_us {
        padding-bottom: 30px;
    }
}

@media screen and (max-width:650px){
    .toue_box li {
        font-size: 11px;
    }
    .images-div {
        margin: -30% auto 0;
        max-width: 480px;
    }   
    h1 {
        font-size: 40px;
    }
    .group_travel h3 {
        text-align: center;
    }
    .inner-img{
        min-height: 80px;
    }
    .list_box {
        margin: 0 auto 30px;
        max-width: 300px;
    }
}
@media screen and (max-width:521px){
    .images-div {
        max-width: 320px;
    }
    .images-div {
        margin-top: -42%;
        margin-bottom: 0;
    }
    .img-box .box-div {
        height: 286px;
        text-align: center;
    }    
    h1 {
        font-size: 30px;
    }
    .banner-content {
        left: 22px;
        top: 65px;
    }
   
    h3 {
        font-size: 25px;
    }
    .why_tour_us .box-div { max-width: 100%;width: 100%;}
    
     .destinations_img {max-width: 300px;margin: 0 auto 30px;}    
     .section.group_travel {
        padding-top: 30px;
    }
    
    .services_box_text {margin: 10px auto;max-width: 300px; min-height: auto;}
    
}


